<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Tells browser that what's about to follow is internationalized -->
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/styles.css">
		<title>EJS Web Page</title>
	</head>
	<body>
	<header>EJS Tutorial</header>
		<div id="wrapper">
		<nav>
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/other">Other Info</a></li>
				<li><a href="/cats">Cats</a></li>
				<li><a href="/ninja">Ninja Turtles</a></li>
				<li><a href="/shredder">The Shredder</a></li>
			</ol>
		</nav>

		<div id="top">
			<article class="center">
				<a href="http://embeddedjs.com/"><img src="http://www.ejshomeimprovements.com/ejs_logonew.gif" alt="EJS"></a>
			</article>
		</div>

		<div id="bottom">
				<iframe width="560" height="315" src="//www.youtube.com/embed/anX3LI1Ij3Y" frameborder="0" allowfullscreen></iframe>
		</div>


		
		<footer>(c)2014 D.Boling</footer>
		</div>
	</body>
</html>
