<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Tells browser that what's about to follow is internationalized -->
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/styles.css">
		<title>Ninja Turtles</title>
	</head>
	<header>Other Information</header>
	<body>
	<div id="wrapper">
		<nav>
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/other">Other Info</a></li>
				<li><a href="/cats">Cats</a></li>
				<li><a href="/ninja">Ninja Turtles</a></li>
				<li><a href="/shredder">The Shredder</a></li>

			</ol>
		</nav>

		<div id="top">
			<div><img src="http://localhost:3000/images/turtles.jpg" alt=""></div>
		</div>

		<div id="bottom">
		</div>

		<footer>(c)2014 D.Boling</footer>
		</div>
	</body>
</html>
