<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Tells browser that what's about to follow is internationalized -->
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/styles.css">
		<title>Other Info</title>
	</head>
	<header>Other Information</header>
	<body>
	<div id="wrapper">
		<nav>
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/other">Other Info</a></li>
				<li><a href="/cats">Cats</a></li>
				<li><a href="/ninja">Ninja Turtles</a></li>
				<li><a href="/shredder">The Shredder</a></li>
			</ol>
		</nav>

		<div id="top">
			<div><img src="http://i1.squidoocdn.com/resize/squidoo_images/400/draft_lens2076964module10491017photo_1216231973Huckleberry-Hound.gif" alt=""></div>
		</div>

		<div id="bottom">
			<div><iframe width="420" height="315" src="//www.youtube.com/embed/IoaxvehimA0" frameborder="0" allowfullscreen></iframe></div>
		</div>



		<footer>(c)2014 D.Boling</footer>
		</div>
	</body>
</html>
