<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/styles.css">
	<title>The Shredder</title>
</head>
<body>
<header>The Shredder</header>


<!-- 
Band Fan Site

1. Create a band fan site using node/exprss
2. Pages
	1. Home
	2. About
	3. Discography
	4. Tour Dates

3. Use colors, fonts, images, videos
4. Create a navbar between pages

-->
<div id="wrapper">
		<nav>
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/other">Other Info</a></li>
				<li><a href="/cats">Cats</a></li>
				<li><a href="/ninja">Ninja Turtles</a></li>
				<li><a href="/shredder">The Shredder</a></li>
			</ol>
		</nav>

		<div id="top">
			<div class="super">1</div>
			<div class="super">2</div>
			<div class="super">3</div>
			<div id="awesome">4</div>
		</div>

		<div id="bottom">
		</div>




		<footer>(c)2014 D.Boling</footer>
</div>
</body>
</html>